/.rag
*__pycache__
*/.ipynb_checkpoints/
*/.vscode/
*/.pytest_cache/
*/.mypy_cache/
*/.mypy/
*/.coverage
/ollama
/postgres
/qdrant_storage
/redis_data
/minio_data
/tesseract_data
.vscode/launch.json
Temp_Files/video/
./models
/minio_config
/neo4j
.vscode/launch.json
.env
ModelRouterAPI/.modelrouter/
ModelRouterAPI/ollama/llama.cpp
ModelRouterAPI/huggingface/.models
ModelRouterAPI/tmpvpzmf1z4
ModelRouterAPI/ollama/llama.cpp
IndexerAPI/.indexerapi
IndexerAPI/.models
.DS_Store
Temp_Files/.DS_Store
IndexerAPI/app.db
ModelRouterAPI/modelrouter.db
IndexerAPI/storage
.DS_Store
