SQLAlchemy
python-dotenv
qdrant-client[fastembed]
requests
redis[hiredis]

numpy
langchain
langchain-openai
langchain-community
langchain-unstructured[local]
unstructured[all-docs]

transformers
pymupdf
sentence-transformers
accelerate
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
timm==1.0.13
einops

fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
email-validator
python-jose
passlib
python-multipart
bcrypt

minio
python-magic

aiobotocore
aiofiles
aioredis

asyncpg

httpx 
pytest 
pytest-asyncio
spacy 