fastapi
uvicorn
pydantic
python-multipart
python-dotenv
httpx
aiofiles
requests
pillow
markitdown[all]
openai
numpy
magika
pypdf
aiohttp
pdf2image
unoserver
aiobotocore
psutil
aio-pika
pandas
openpyxl
xlsxwriter
neo4j
tabulate