fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart
python-dotenv
httpx
aiofiles
requests
pillow
markitdown[all]
openai==1.97.0
numpy
magika
pypdf
aiohttp
pdf2image
unoserver
aiobotocore
psutil
aio-pika
pandas
openpyxl
xlsxwriter
neo4j
tabulate