fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic
python-multipart
python-dotenv
httpx
aiofiles
requests
pillow
markitdown[all]
openai
numpy
magika
pypdf
faiss-cpu
aiohttp
pdf2image
unoserver>=3.0
aiobotocore
psutil
boto3
aio-pika