fastapi==0.115.14
uvicorn[standard]==0.36.0
pydantic==2.11.9
pydantic-settings==2.10.1
openai==1.108.1
langgraph==0.6.10
langchain-core==0.3.76
langchain-openai==0.3.33
typing-extensions==4.15.0
redis[hiredis]==6.4.0
redisvl==0.8.2
langmem==0.0.29
langgraph-checkpoint==2.1.2
langchain-community==0.3.29
langchain-litellm==0.2.3
langgraph-checkpoint-redis==0.1.1
scrapegraphai==1.62.0
langchain_mcp_adapters==0.1.10
tiktoken==0.11.0
copilotkit==0.1.69
litellm==1.78.2
