fastapi==0.115.14
uvicorn[standard]==0.38.0
pydantic==2.12.3
pydantic-settings==2.11.0
openai==1.109.1
langgraph==0.6.11
langchain-core==0.3.79
langchain-openai==0.3.35
typing-extensions==4.15.0
redis[hiredis]==6.4.0
redisvl==0.10.0
langmem==0.0.29
langgraph-checkpoint==2.1.2
langchain-community==0.3.31
langchain-litellm==0.2.3
langgraph-checkpoint-redis==0.1.2
scrapegraphai==1.62.0
langchain_mcp_adapters==0.1.11
tiktoken==0.11.0
copilotkit==0.1.69
litellm==1.78.2
