fastapi
uvicorn[standard]
pydantic
pydantic-settings
openai
python-dotenv
python-multipart
langgraph
langchain_core
langchain_openai
langchain_tavily
langgraph-sdk
typing-extensions
requests
redis[hiredis]
redisvl
langgraph-checkpoint
langchain-community
langgraph-checkpoint-redis
scrapegraphai
fastapi_mcp
langchain_mcp_adapters
uuid
dataclasses
