fastapi
uvicorn[standard]
pydantic
pydantic-settings
openai
langgraph
langchain_core
langchain_openai
typing-extensions
redis[hiredis]
redisvl
langmem
langgraph-checkpoint
langchain-community
langgraph-checkpoint-redis
scrapegraphai
langchain_mcp_adapters
tiktoken