fastapi
uvicorn[standard]
pydantic
pydantic-settings
openai
python-dotenv
python-multipart
tenacity
langgraph
langchain_core
langchain_openai
langchain_tavily
langgraph-sdk
typing-extensions
requests
numpy
scikit-learn
qwen-tokenizer
redis[hiredis]
redisvl
langgraph-checkpoint
langgraph-checkpoint-redis
transformers