fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
tiktoken
httpx
python-dotenv
asyncio
openai
transformers
torch
torchvision
torchaudio
#flash-attn
# Install the above PyTorch packages with: pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
requests
pytest
aiohttp
huggingface-hub
huggingface_hub[hf_xet]
accelerate
einops
git-lfs
python-multipart
PyJWT
passlib
bcrypt
safetensors
nest_asyncio
scikit-learn
#git+https://github.com/huggingface/transformers@v4.51.3-Qwen2.5-Omni-preview
git+https://github.com/illuin-tech/colpali.git
soundfile
qwen-omni-utils[decord]
